.fa-edit{
	font-family:50px;
}
.logo{
	max-width:200px;
	max-height:100px;
}
}
.list-group-item{
	padding:20px 0px;
	font-family:verdana;
	padding-left: 20px;
}
.fa .fa-bolt .fa-calculator .fa-cart-arrow-down .fa-database{
	font-size:40px;
}

.droit{
 	background-color:black;
  }
 .list-group-item{
 	font-family:anton;
 	background-color:black;
 }
 .list-group-item:hover{
 	background-color:yellow;
 	font-family:anton;
 	color:black;
  }

 .principal{
 	background-color:yellow;
 	color:black;
 }
 a:hover{
 	text-decoration:none;
 	color:black;
 }
 .sub{
 	color:white;
 }

 a{
 	text-decoration:none;
 	color:black;
 }
 .header{
 	background-color: #fed401;
 	font-family:oswald;
 	float:right;
 }
 #dwnload{
 	color:black;
 	font-family:PT sans;
 }
 .cards{
 	float: right;
 	margin-right:15px;
 }
 .fa-car{
 	font-size:50px;
 }
#disconect{
	color:black;
}
#disconect:hover{
	color:red;
}
.page-item .active{
	background-color:yellow;
}
label{
	font-family: Staatliches;
}
.Vente{
	font-family:anton;
	color:yellow;
}
.left{
	 background-color:yellow;
	 border-radius:10px;
	 margin-bottom:2px;
}
.right{
	background-color:white;
	color: yellow;
	 border-radius:10px;
	 margin-bottom:2px;
}
.rendezvous{
	font-family:oswald;
}
.mt-3{
	background-color:black;
	color:yellow;
}
.sub{

}
label{
	font-family:Archivo Black;
}
.right1{
	background-color:black;
	color:yellow;
}
.thead-light{
	background-color:yellow;
	color:black;
}

/*login Begin*/
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}


}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.footer{
	background-color:black;
	color:white;
}
.forget{
	color:white;
}
.forget:hover{
	color:yellow;
}
.sary{
	background-image:url(img/bg.png);
}
/*login End*/
